@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../assets/portfolio-home.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  mask-image: linear-gradient(to bottom,
      white 89%,
      transparent 95%);
}

.titleContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-bottom: 1em;
}

.greetingContent {
  display: flex;
  width: 100%;
}

.greeting {
  font-size: 1.5em;
  margin: 0;
  animation: moveX;
  animation-duration: 1.5s;
  font-weight: 200;
}

.title {
  font-family: "DM Sans", sans-serif;
  font-weight: 1000;
  font-size: 8em;
  margin: 0;
  text-align: center;
}

.pContent {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.p {
  margin: 0;
  padding: 0;
  font-size: 1.7em;
  /* background-color: #09f; */
  font-weight: 500;
  color: #fff;
  /* padding: 0 .5em; */
  border-radius: 8px;
  animation: move;
  animation-duration: 1.5s;
}


.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 80%;
  left: 50%;
  border: 3px solid white;
  border-radius: 20px;
  height: 60px;
  width: 30px;
  cursor: pointer;
  animation: move;
  animation-duration: 2s;
}

@keyframes move {
  from{
    transform: translateY(200px);
  }

  to{
    transform: translateY(0);
  }
}

@keyframes moveX {
  from{
    transform: translateX(-200px);
  }

  to{
    transform: translateX(0);
  }
}

.svg{
  width: 25px;
  height: 25px;
  transform: rotate(180deg);
  /* filter: brightness(0) invert(1); */
  animation: bounce 1s ease-in-out infinite both;
  margin-bottom: 4px;
  color: #bb77ff;
  /* animation-play-state: paused; */
}

@keyframes bounce {
  0%, 100% {
    transform: rotate(180deg) translate(0px, 0px); /* Mantén la rotación constante durante toda la animación */
  }

  50% {
    transform: rotate(180deg) translate(0px, 20px) scale(1, 0.77); /* Mantén la rotación constante durante toda la animación */
  }
}

@media screen and (max-width:860px) {
  .greetingContent {
    justify-content: start;
  }

  .greeting{
    font-size: 1em;
  }

  .title {
    font-size: 3em;
  }

  .p {
    font-size: 1.2em;
  }
}

@media screen and (max-width:360px) {
  .title {
    font-size: 2.5em;
  }
}