.container {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    margin: 6em 2em;
}

.title {
    margin: 0;
    font-size: 4em;
    color: #fff;
}

.hr {
    margin: 0;
    border: 2px solid #fdaa1e;
}

.mainContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 3em;
}

.skillContent{
    width: 330px;
    height: 280px;
    border: 3px solid #a3a3a3;
    margin: 10px;
}

.spanContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg{
    width: 40px;
    height: 40px;
    filter: brightness(0) invert(1);
}

.spanFront, .spanBack, .spanTools{
    font-size: 32px;
    font-weight: 600;
    z-index: 0;
    position: relative;
    color: white;
    font-family: "Poppins", sans-serif;
    margin-left: .3em;
}

.spanFront::after, .spanBack::after, .spanTools::after{
    transition: all 0.1s ease-in-out;
    content: "";
    position: absolute;
    bottom: 13.5%;
    z-index: -1;
    height: 0.3em;
    width: 104%;
    left: -1%;
}

.spanFront::after{
    background: linear-gradient(65deg, #DF058D 0%, #DF058D 100%, rgba(255, 209, 0, 0) 100%);
}

.spanBack::after{
    background: linear-gradient(65deg, #2c49d8 0%, #2c49d8 100%, rgba(255, 209, 0, 0) 100%);
}

.spanTools::after{
    background: linear-gradient(65deg, #ff6b2b 0%, #ff6b2b 100%, rgba(255, 209, 0, 0) 100%);
}

.imgContainer{
    display: flex;
    justify-content: center;
}

.imgContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img, .imgNext{
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin: .7em 1em;
}

.imgNext{
    filter: brightness(0) invert(1);
}


@media screen and (max-width:768px) {
    .container{
        margin: 3em 2em;
    }
    
    .title {
        font-size: 3em;
    }

}

@media screen and (max-width: 640px){
    .title {
        font-size: 3em;
    }

    .skillContent{
        height: 320px;
    }

}