.container {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    margin: 6em 2em;
}

.title {
    margin: 0;
    font-size: 4em;
    color: #fff;
}

.hr {
    margin: 0;
    border: 2px solid #fdaa1e;
}

.mainContent {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logoContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: #201f23;
    width: 260px;
    height: 160px;
    margin: 1em;
    color: #fff;
    border-radius: 8px;
    box-shadow: 5px 5px 13px #0d0c0e,
        -5px -5px 13px #333238;
    transition: .5s;
}

.logo {
    padding-top: 1em;
    width: 80px;
}

.logoContent:hover {
    transition: .5s;
    transform: scale(1.05);
}

@media screen and (max-width:768px) {
    .container{
        margin: 3em 2em;
    }
    
    .title {
        font-size: 3em;
    }

}

@media screen and (max-width: 640px){
    .title {
        font-size: 3em;
    }

    .logoContent {
        width: 160px;
        height: 90px;
        font-size: .7em;
        box-shadow: 4px 4px 10px #0d0c0e,
            -4px -4px 10px #333238;
    }

    .logo{
        width: 30px;
    }
}