.container {
    display: flex;
    justify-content: center;
    margin: 6em 2em;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 0;
    font-size: 5em;
    color: #fff;
}

.hr {
    margin: 0;
    border: 2px solid #fdaa1e;
}

.aboutContent {
    width: 100%;
    margin-top: 3em;
}

.about {
    width: 100%;
    /* opacity: 0.7; */
}

.aboutmob{
    display: none;
}

@media screen and (max-width:768px) {
    .title{
        font-size: 3.5em;
    }

    .about{
        display: none;
    }

    .aboutmob{
        display: flex;
        width: 100%;
    }
}

@media screen and (max-width: 640px){
    .container{
        margin: 2em 1em;
    }
    
    .title{
        font-size: 3em;
    }
}