.container{
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
}

.main_content{
    display: flex;
    background: #1e1e1e;
    padding: 10px;
    gap: 12px;
    margin-bottom: 12px;
    border-radius: 16px;
    border: 2px solid #28282852;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px 0px, rgba(0, 0, 0, 0.25) 0px 4px 4px 0px, rgba(0, 0, 0, 0.25) 0px 8px 8px 0px, rgba(0, 0, 0, 0.25) 0px 16px 16px 0px, rgba(0, 0, 0, 0.25) 0px 32px 32px 0px;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #dbdbdb6c;
    width: 25px;
    height: 25px;
    padding: 5px;
    border: 3px solid #0f0f0f;
    border-radius: 8px;
    background: #0c0c0d;
}

.svg{
    width: 30px;
    height: 30px;
}