.container {
    display: flex;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    justify-content: space-between;
    height: 9vh;
    width: 100%;
    z-index: 1;
    transition: transform 0.3s ease;
    padding: .5em 0;
}

.hidden {
    position: fixed;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px)
}

.logoContainer {
    margin-left: 2em;
}

.logo {
    width: 100px;
}

.linkContainer {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-right: 2em;
}

.link {
    text-decoration: none;
    color: #fff;
    transition: .3s;
    margin: 0 .7em;
}

.link:hover {
    color: #fdaa1e;
}

.leng {
    margin-left: .5em;
}

.link_i {
    margin: 0 .3em;
    text-decoration: none;
    color: #fdaa1e;
    transition: .3s;
}

.link_i:hover {
    color: #fff;
}

.navMobile {
    display: none;
}

.burger{
    width: 30px;
    margin-right: 1em;
    filter: brightness(0) invert(1);
}

.menuOpen {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    background-color: #171f2a;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease;
}

.buttonContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 1em;
}

.button{
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    color: #fff;
    margin-right: 1em;
}

.linkMobileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 4em;
}

.linkMobile_i{
    margin: 0 .5em;
    font-size: 1.5em;
    text-decoration: none;
    color: #fdaa1e;
    transition: .3s;
    font-weight: bold;
}

.linkMobile{
    text-decoration: none;
    color: #fff;
    transition: .3s;
    margin: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .container {
        height: 5vh;
    }

    .logo {
        width: 60px;
    }

    .linkContainer{
        display: none; /* Hide links on larger screens */
    }

    .navMobile {
        display: block;
    }

    .logoContainer{
        margin-left: 1em;
    }
}

@media screen and (max-width:450px) {
    .link{
        font-size: .8em;
    }
}