.container {
    display: flex;
    position: absolute;
    align-items: center;
    top: 0;
    left: 0;
    justify-content: space-between;
    height: 9vh;
    width: 100%;
    z-index: 1;
    transition: transform 0.3s ease;
    padding: .5em 0;
}

.hidden {
    position: fixed;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px)
    /* transform: translateY(-100%); */
}

.logoContainer {
    margin-left: 2em;
}

.logo {
    width: 100px;
}

.linkContainer {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-right: 2em;
}

.link {
    text-decoration: none;
    color: #fff;
    transition: .3s;
    margin: 0 .7em;
}

.link:hover {
    color: #fdaa1e;
}

.leng {
    margin-left: .5em;
}

.link_i {
    margin: 0 .3em;
    text-decoration: none;
    color: #fdaa1e;
    transition: .3s;
}

.link_i:hover {
    color: #fff;
}

.navMobile {
    display: none;
}

@media screen and (max-width:768px) {
    .container {
        height: 7vh;
    }

    .logo {
        width: 60px;
    }

    .linkContainer{
        margin-right: 0;
    }

    .logoContainer {
        margin-left: 1em;
    }

    .link_i{
        display: none;
    }

    .link{
        font-size: 1em;
    }
}

@media screen and (max-width:450px) {
    .link{
        font-size: .8em;
    }
}