.container {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin: 6em 2em;
}

.title {
    margin: 0;
    font-size: 5em;
    color: #fff;
}

.mainContent {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
}

.cardsContainer{
    display: flex;
    flex-wrap: wrap;
}

.cardContent {
    display: flex;
    flex-direction: column;
    margin: 1em .5em;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    width: 400px;
    height: 400px;
    text-decoration: none;
}

.img {
    position: relative;
    object-fit: cover;
    object-position: top;
    height: 70%;
    width: 100%;
    transition: .5s;
    margin: 0 auto;
    background-color: white;
}

.dataContent {
    position: relative;
    height: 30%;
    background-color: #201f23;
    border-radius: 0 0 8px 8px;
    padding-left: 1em;
}

.workTitle {
    font-size: 1.5em;
    margin: 0;
    margin-top: 1em;
    color: #fff;
}

.webDev {
    position: absolute;
    margin: 0;
    color: #dde0e0;
    transition: transform 0.5s, opacity 1s;
    font-size: 1em;
    font-weight: 200;
}

.show {
    margin: 0;
    color: transparent;
    transition: transform 0.5s, opacity 1s;
    transform: translateY(100%)
}


.cardContent:hover .img {
    transition: .5s;
    transform: scale(1.05);
}

.cardContent:hover .webDev {
    transform: translateY(-100%);
    /* Mover el elemento hacia arriba */
    opacity: 0;
}

.cardContent:hover .show {
    transform: translateY(0);
    /* Mover el elemento hacia abajo */
    opacity: 1;
    color: #dde0e0;
    font-size: 1em;
    font-weight: 200;
}

@media screen and (max-width:768px) {
    .container{
        margin: 8em 1em;
    }
    
    .title {
        font-size: 3em;
    }

    .cardContent{
        width: 100%;
        margin: 1em 0;
    }

    .dataContent{
        height: 25%;
    }
}

@media screen and (max-width:640px){
    .title {
        font-size: 3em;
    }

    .cardsContainer {
        flex-direction: column;
        align-items: center;   
    }

}