.container {
    display: flex;
    padding: 1em 10%;
    background-color: #fefffe;
}

.mainContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
}

.svgContainer {
    display: flex;
    gap: 1.5em;
}

.link {
    display: flex;
}

.svg {
    color: #232323;
    transition: .3s;
}

.svg:hover {
    transform: scale(1.2);
}

.text {
    font-size: .8em;
    color: #757575;
}

.calendly{
    display: none;
}


@media screen and (max-width: 810px) {
    .container {
        padding: .5em 5%;
        position: fixed;
        width: 90%;
        bottom: 0;
        z-index: 500;
        background: rgba(255, 255, 255, 0.17);
        backdrop-filter: blur(11.1px);
        -webkit-backdrop-filter: blur(11.1px);
    }

    .text {
        display: none;
    }

    .calendly{
        display: block;
    }


    .svgContainer {
        justify-content: space-between;
        width: 100%;
    }
}