.container {
    display: flex;
    flex-direction: column;
    padding: 5em 10%;
    background: #fafafa radial-gradient(#1414142c 10%, transparent 1%);
    background-size: 11px 11px;
    border-bottom: 1px solid #a3a3a35d;
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 120px;
    justify-content: space-between;
    max-width: 1040px;
    margin: 0 auto;
    width: 100%;
}

.projectContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image {
    object-fit: cover;
    width: 60%;
    height: 100%;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 35%;
}

.title {
    font-family: "proxima nova bold";
    font-size: 2.5em;
    line-height: 1em;
    margin: 0;
    letter-spacing: -2px;
}

.description {
    font-size: 1.1em;
    color: #757575;
}

.linkContainer {
    display: flex;
    margin: 2.5em 0;
    gap: 20px;
}

.link,
.linkGitHub {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "proxima nova bold";
    font-size: 1.1em;
    background: #222222;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
    /* box-shadow: 1px 5px 8px #1d1d1d6c; */
}

.link:hover {
    box-shadow: 1px 5px 8px #1d1d1d6c;
}

.arrowUp{
    transition: .3s;
}

.link:hover .arrowUp{
    transform: translateY(-2px) translateX(4px); 
}

.linkGitHub {
    background-color: #ebebeb;
    color: #222222;
}

.linkGitHub:hover {
    box-shadow: 1px 5px 8px #d5d5d5;
}

.linkGitHub:hover+.link {
    box-shadow: none;
}

.svgContainer {
    display: flex;
    width: 100%;
    gap: 10px;
}

@media screen and (max-width:1024px) {
    .projectContainer {
        flex-direction: column;
        align-items: center;
    }

    .image {
        margin: 3em 0;
        width: 100%;
    }

    .dataContainer {
        align-items: center;
        width: 100%;
    }

    .description {
        padding: 0 2em;
        text-align: center;
    }

    .svgContainer {
        justify-content: center;
    }
}

@media screen and (max-width: 810px) {
    .container {
        padding: 5em 5%;
        margin-bottom: 2.8em;
    }

    .mainContent {
        gap: 80px;
    }
}