@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
  color-scheme: light dark;
}

body{
  margin: 0;
  padding: 0;
  color: #ccc8c6;
  background: #0c0c0d;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;
}
