.scrollButtonContainer {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.button {
    display: block;
    cursor: pointer;
    background-color: #171f2a;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    border: none;
    width: 40px;
    height: 40px;
}  

.svg{
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    color: #fff;
}